/* Admin */
body.admin .card-header{
    background-color: #343a40 !important;
}

body.admin .card-primary.card-outline{
    border-top: 3px solid #343a40;
}

body.admin .badge{
    background-color: #343a40 !important;
}

body.admin .user-header{
    background-color: #343a40 !important;
}

/* Student */
body.student .card-header{
    background-color: green !important;
}

body.student .card-primary.card-outline{
    border-top: 3px solid green;
}

body.student .badge{
    background-color: green !important;
}

body.student .user-header{
    background-color: green !important;
}

/* Parent */
body.parent .card-header{
    background-color: mediumpurple !important;
}

body.parent .card-primary.card-outline{
    border-top: 3px solid mediumpurple;
}

body.parent .badge{
    background-color: mediumpurple !important;
}

body.parent .user-header{
    background-color: mediumpurple !important;
}

/* Teacher */
body.teacher .card-header{
    background-color: orange !important;
}

body.teacher .card-primary.card-outline{
    border-top: 3px solid orange;
}

body.teacher .badge{
    background-color: orange !important;
}

body.teacher .user-header{
    background-color: orange !important;
}
