/*Admin theme*/
body.admin .btn{
    background-color: red;
    color: white !important;
    border-color: red;
}

body.admin .btn-primary{
    background-color: red !important;
}

body.admin .badge{
    background-color: red !important;
}

body.admin .card-primary.card-outline{
    border-top: 3px solid red !important;
}

body.admin .user-header{
    background-color: red !important;
}

body.admin .card-primary:not(.card-outline) > .card-header{
    background-color: red !important;
}

body.admin .btn-primary:active{
    border: none;
}

body.admin .btn-default:hover{
    background-color: red !important;
}
